form(onsubmit='{ submit }')
  #{ 'yield' }
    .contact.checkout-section
      h2
        | Contact
      .fields
        user-name.input(label='Name')
        user-email.input(label='Email')
    .shipping.checkout-section
      h2
        | Shipping
      .fields
        shippingaddress-name.input(label='Recipient')
        shippingaddress-line1.input(label='Address')
        shippingaddress-line2.input(label='Suite')
        shippingaddress-city.input(label='City')
      .fields
        shippingaddress-country.input(label='Country')
        shippingaddress-state.input(label='State')
        shippingaddress-postalcode.input(label='Postal Code')

    button.checkout-next(type='submit')
      | Continue &#10140;
    .error(if='{ errorMessage }')
      | { errorMessage }

