form(onsubmit='{ submit }')
  #{ 'yield' }
    user-name.input(placeholder='Name')
    user-email.input(placeholder='Email')
    user-password.input(placeholder='Password')
    .error(if='{ errorMessage }')
      | { errorMessage }

    button(type='submit')
      | Register
