#{ 'yield' }
  h2(if='{ !isEmpty() }')
    | Your Cart
  h2(if='{ isEmpty() }')
    | Your Cart Is Empty
  lineitems(if='{ !isEmpty() }')

  div(if='{ !isEmpty() }')
    .promo
      .promo-label
        | Coupon
      .promo-row(class='{ applied: applied, applying: applying, failed: failed }')
        promocode.input(placeholder='Coupon')
        button(disabled='{ applying }', onclick='{ applyPromoCode }')
          span(if='{ !applied && !applying && !failed }') +
          span(if='{ applied }' ) &#10003;
          span(if='{ failed }' ) &#10005;
          span(if='{ applying }') ...
    .invoice-discount.invoice-line.animated.fadeIn(if="{ data.get('order.discount') > 0 }")
      .invoice-label
        | Discount
      .invoice-amount
        | { renderCurrency(data.get('order.currency'), data.get('order.discount'))} { data.get('order.currency').toUpperCase() }
    .invoice-line
      .invoice-label
        | Subtotal
      .invoice-amount
        | { renderCurrency(data.get('order.currency'), data.get('order.subtotal'))} { data.get('order.currency').toUpperCase() }
    .invoice-line
      .invoice-label
        | Shipping
      .invoice-amount.not-bold
        | { data.get('order.shipping') == 0 ? 'FREE' : renderCurrency(data.get('order.currency'), data.get('order.shipping'))}&nbsp;{ data.get('order.shipping') == 0 ? '' : data.get('order.currency').toUpperCase() }
    .invoice-line
      .invoice-label
        | Tax ({ data.get('order.taxRate') * 100 }%)
      .invoice-amount
        | { renderCurrency(data.get('order.currency'), data.get('order.tax'))} { data.get('order.currency').toUpperCase() }
    .invoice-line.invoice-total
      .invoice-label
        | Total
      .invoice-amount
        | { renderCurrency(data.get('order.currency'), data.get('order.total'))} { data.get('order.currency').toUpperCase() }

    button.submit(onclick='{ checkout }', if='{ showButtons }')
      | Checkout

  div(if='{ isEmpty() }')
    button.submit(onclick='{ submit }', if='{ showButtons }')
      | Continue Shopping
