lineitem(each="{ item, v in data('order.items') }", cartdata="{ this.parent.data }", data="{ this.parent.data.ref('order.items.' + v) }", if="{ item.quantity > 0 }")
.cart-empty-message(if="{ isEmpty() }")
  | { emptyMessage }
#{ 'yield' }

