form(onsubmit='{ submit }')
  #{ 'yield' }
    div(if='{ !isEmpty() }')
      .contact.checkout-section
        h2
          | Contact
        .fields
          user-name.input(placeholder='Name')
          user-email.input(placeholder='Email')
      .payment.checkout-section
        h2
          | Payment
        span.secured-text
          | SSL Secure
          span Checkout
          img.lock-icon(src='/img/lock-icon.svg')
        .fields
          card-name.input(placeholder='Name on Card')
          card-number.input(name='number', placeholder='Card Number')
            div.cards-accepted
              img.card-logo.amex-logo(src='/img/card-logos/amex.svg')
              img.card-logo.visa-logo(src='/img/card-logos/visa.svg')
              img.card-logo.discover-logo(src='/img/card-logos/discover.svg')
              img.card-logo.jcb-logo(src='/img/card-logos/jcb.svg')
              img.card-logo.mastercard-logo(src='img/card-logos/mastercard.svg')
              a.stripe-link(href='//www.stripe.com', target='_blank')
                img.stripe-logo(src='/img/stripelogo.png')
          card-expiry.input(name='expiry', placeholder='MM / YY')
          card-cvc.input(name='cvc', placeholder='CVC')

      .shipping.checkout-section
        h2
          | Shipping
        .fields
          shippingaddress-name.input(placeholder='Recipient')
          shippingaddress-line1.input(placeholder='Address')
          shippingaddress-line2.input(placeholder='Suite')
        .fields
          shippingaddress-city.input(placeholder='City')
          shippingaddress-postalcode.input(placeholder='Postal Code')
        .fields
          shippingaddress-state.input(placeholder='State', instructions='Select a State')
          shippingaddress-country.input(placeholder='Country', instructions='Select a Country')
      .complete.checkout-section
        h2
          | Complete Checkout
        terms.checkbox
          label(for='terms')
            | I have read and accept the&nbsp;
            a(href='{ termsUrl }', target='_blank') terms and conditions

        button(class='{ loading: loading || checkedOut }', disabled='{ loading || checkedOut }', type='submit')
          span Checkout
        .error(if='{ errorMessage }')
          | { errorMessage }
