div
  quantity-select-control(input="{ inputs.quantity }")
div
  | { data.get('productName') }
div
  | x { renderCurrency(cartdata.get('order.currency'), data.get('price')) }
  div
    | { renderCurrency(cartdata.get('order.currency'), data.get('listPrice')) }
div
  | = { renderCurrency(cartdata.get('order.currency'), data.get('quantity') * data.get('price')) }
