div
  quantity-select-control(input="{ inputs.quantity }")
div
  | { data.get('productName') }
div
  | { renderCurrency(cartdata.get('order.currency'), data.get('price') * data.get('quantity')) }
  div(if="{ data.get('listPrice') > data.get('price') }")
    | { renderCurrency(cartdata.get('order.currency'), data.get('listPrice') * data.get('quantity')) }
