div(if="{ !data.get('locked') }")
  quantity-select-control(input="{ inputs.quantity }")
div(if="{ data.get('locked') }", class="locked")
  | { data.get('quantity') }
div
  | { data.get('productName') }
  div(if="{ data.get('description') }")
    | { data.get('description') }
div
  | { renderCurrency(cartdata.get('order.currency'), data.get().price * data.get().quantity) }&nbsp;{ data.get('order.currency').toUpperCase() }
  div(if="{ data.get().listPrice > data.get().price }")
    | { renderCurrency(cartdata.get('order.currency'), data.get().listPrice * data.get().quantity) }&nbsp;{ data.get('order.currency').toUpperCase() }
