#{ 'yield' }
  .order-information
    .order-number-container
      .order-number-label
        | Order Number:
      .order-number
        | { data.get('number') }
    .order-date-container
      .order-date-label
        | Purchase Date:
      .order-date
        | { renderDate(data.get('createdAt'), 'LL') }

    lineitems(if="{ !isEmpty() }")

    .discount-container
      .discount-label
        | Discount:
      .discount
        | { renderCurrency(data.get('currency'), data.get('discount'))}
    .subtotal-container
      .subtotal-label
        | Subtotal:
      .subtotal
        | { renderCurrency(data.get('currency'), data.get('subtotal'))}
    .shipping-container
      .shipping-label
        | Shipping:
      .shipping
        | { renderCurrency(data.get('currency'), data.get('shipping'))}
    .tax-container
      .tax-label
        | Tax({ data.get('tax') / data.get('subtotal') * 100 }%):
      .tax
        | { renderCurrency(data.get('currency'), data.get('tax'))}
    .total-container
      .total-label
        | Total:
      .total
        | { renderCurrency(data.get('currency'), data.get('total'))}&nbsp;{ data.get('currency').toUpperCase() }

  .address-information
    .street
      | { data.get('shippingAddress.line1') }
    .apartment(if="{ data.get('shippingAddress.line2') }")
      | { data.get('shippingAddress.line2') }
    .city
      | { data.get('shippingAddress.city') }
    .state(if="{ data.get('shippingAddress.state')}")
      | { data.get('shippingAddress.state').toUpperCase() }
    .state(if="{ data.get('shippingAddress.postalCode')}")
      | { data.get('shippingAddress.postalCode') }
    .country
      | { data.get('shippingAddress.country').toUpperCase() }
