.button
button
  background-color: $themeButtonBGColor
  border-color: $themeButtonBorderColor
  border-radius: $themeBorderRadius
  color: $themeButtonColor
  text-align: center
  font-size: 1em
  padding: 0
  height: $themeElementHeight * 1.5
  padding: 0 $themeElementHeight
  box-shadow: 0 2px 5px $dropShadowColor
  transition: all $themeTransitionTime ease-in-out

  &:hover
    box-shadow: 0 4px 10px $dropShadowHoverColor

  &.submit
  &[type=submit]
    background-color: $themeButtonBGColor
    border-color: $themeButtonBorderColor
    color: $themeButtonColor
    line-height: $themeElementHeight
    width: 100%

button
  outline: none
