.button
button
  background-color: $themeButtonBGColor
  border-color: $themeButtonBorderColor
  color: $themeButtonColor
  text-align: center
  font-size: 1em
  padding: 0
  height: $themeElementHeight * 1.5
  padding: 0 $themeElementHeight
  cursor: pointer

  &.submit
  &[type=submit]
    background-color: $themeButtonBGColor
    border-color: $themeButtonBorderColor
    color: $themeButtonColor
    line-height: $themeElementHeight
    width: 100%

button
  outline: none

