cart
  width: 100%
  display: table
  padding: $themeElementPadding
  background-color: $themeBGColor

  lineitems
  lineitem
    width: 100%
    position: relative
    display: block

  lineitem
    display: table
    padding-bottom: $themeElementPadding

    & > div
      width: 100%

    & > *
      float: left;

      & > *
        float: left;

  quantity-select-control
  .promo
  .promo-row
  .invoice-line
    width: 100%
    display: table
    position: relative

  quantity-select-control
    .selectize-input
      max-width: 60px
      border-bottom: 0 !important

  .product-quantity-container
    width: 45px !important
    display: inline-block
    float: right !important
    position: relative
    top: -8px
    margin-left: $themeElementPadding

    .item
      left: 9px

  .product-description
    line-height: 1em
    padding-left: $themeElementPadding
    display: inline-block
    vertical-align: top
    width: 90%

    +below(400px)
      font-size: .8em

    +below(375px)
      font-size: .7em

    .product-name
      font-weight: bold
      display: block

    > *:last-child
      font-size: 12px
      line-height: 1.2rem
      margin-top: 0

      +below(400px)
        font-size: .8em

  .product-image-container
    position: relative

    img
      max-height: 3.5em

  .product-text-container
    width: 40%

  .product-price-container
    text-align: right
    float: right !important
    line-height: 1.25em

  .product-list-price
    color: $themeErrorColor
    font-size: .9em

  .product-slug
    display: none

  .product-delete
    cursor: pointer
    width: 20%
    float: right !important
    text-align: right
    font-size: 0.8em
    position: absolute
    right: 0
    top: 1em

  .product-currency
    display: inline

  .product-list-price
    text-decoration: line-through;

  .promo.promo
    height: 40px

    & > *
      vertical-align: middle
      display: table-cell

    & > div:first-child
      width: 40%

    & > div:nth-child(2)
      width: 60%

    .promo-row

      & > *
        float: left;

      promocode
        width: 75%
        padding: 0

        input
          border-radius: 1em 0 0 1em
          border: $themeInputBorderWidth solid
          border-right: 0
          padding: 0 15px
          transition: border-color $themeTransitionTime ease-in-out, color $themeTransitionTime ease-in-out
          height: 32px

      button
        position: relative
        width: 25%
        border-radius: 0 1em 1em 0
        border-width: 0
        font-size: 1em
        padding: 0
        transition: background-color $themeTransitionTime ease-in-out
        height: 32px
        background-color: $themeTextColor
        color: $themeTextColorInverted

      &.applied
        promocode
          input
            border-color: $themeGoodColor
            color: $themeGoodColor !important

        button
          background-color: $themeGoodColor !important

      &.failed
        promocode
          input
            border-color: $themeErrorColor !important
            color: $themeErrorColor !important

        button
          background-color: $themeErrorColor !important

          span:first-child
            display: none

          span:last-child
            display: block

    .promo-message
      text-align: right !important

  .invoice-line
    height: 40px

    & > *
      vertical-align: middle
      display: table-cell

    & > div:first-child
      width:70%
      padding-right:5%

    & > div:last-child
      width: 30%

  .invoice-total
    font-weight: bold
    font-size: 1.1em
    padding-bottom: $themeElementPadding

    .invoice-label
      font-size: 1.25em
      text-align: left

  .invoice-amount
    text-align: right
    font-weight: bold

