cart
checkout
checkout-card
checkout-shippingaddress
login
orders
profile
register
reset-password
reset-password-complete
shippingaddress
  text-align: left

  .fields
    display: table
    width: 100%

  .error-message
  .error
    color: $themeErrorColor

  .input.input
    width: 100%
    display: block
    margin-bottom: $themeElementPadding * 0.5

    .valid
      border-color: $themeGoodColor

    .invalid
      border-color: $themeErrorColor

