cart
checkout
checkout-card
checkout-shippingaddress
login
orders
profile
register
reset-password
reset-password-complete
shippingaddress
  color: $themeTextColor

  *:disabled
  .disabled
    opacity: 0.5

  input
    outline: none
    border: 0
    padding: 0
    background: transparent

    &:-moz-placeholder
      color: $themeTextColor

    &::-moz-placeholder
      color: $themeTextColor

    &:-ms-input-placeholder
      color: $themeTextColor

    &::-webkit-input-placeholder
      color: $themeTextColor

  .input
    input[type=text]
    input[type=password]
      width: 100%
      height: $themeElementHeight
      font-size: 1em
      border-bottom: $themeInputBorderWidth solid
      border-color: $themeBorderColor
      border-width: $themeInputBorderWidth
      border-radius: 0
      transition: border-color $themeTransitionTime ease-in-out, color $themeTransitionTime ease-in-out

  .button
  button
    background-color: $themeButtonBGColor
    border-color: $themeButtonBorderColor
    color: $themeButtonColor
    text-align: center
    font-size: 1em
    padding: 0
    height: $themeElementHeight * 1.5
    padding: 0 $themeElementHeight
    cursor: pointer

    &.submit
    &[type=submit]
      background-color: $themeButtonBGColor
      border-color: $themeButtonBorderColor
      color: $themeButtonColor
      line-height: $themeElementHeight
      width: 100%

  input
  button
    outline: none

  .checkbox
  terms
  gift-toggle
    display: block

    label
      padding-top: 2px;
      line-height: 1.2rem;
      display: inline-block;
      color: $themeTextColor

    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      text-indent: 25px;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      content: ''
      position: absolute
      left:0
      top: 2px
      width: 17px; height: 17px;
      border: 1px solid $themeBorderColor;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: '✔';
      position: absolute;
      top: 3px;
      left: 2px;
      font-size: 18px;
      line-height: 0.8;
      color: $themeGoodColor
      transition: all .2s;
      text-indent: 0;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label {
      color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before {
      border: 1px dotted $themeTextColor;
    }

    /* hover style just for information */
    label:hover:before {
      border: 1px solid $themeGoodColor !important;
    }

