cart
checkout
checkout-card
checkout-shippingaddress
login
orders
profile
register
reset-password
reset-password-complete
shippingaddress
  // Selectize
  .selectize-input
    background-color: transparent !important
    font-weight: bold !important
    color: $textColor1 !important
    font-size: 1rem !important
    line-height: 1rem !important
    padding: 8px 0 !important
    box-shadow: none !important
    border: 0 !important
    border-bottom: 1px solid $themeBorderColor !important
    max-width: 100%
    border-radius: 0 !important
    height: $themeElementHeight !important

    &:after
      border-color: $themeTextColor transparent transparent !important
      top: 12px
      right: 0 !important
      margin-top: 0

    &.dropdown-active
      &:before
        display: none !important

      &:after
        border-color: transparent transparent $themeTextColor !important

    &.full
      min-height: 0 !important

    input
      position: absolute !important
      width: 100% !important
      margin-top: -6px !important
      left: 0
      height: $themeElementHeight !important
      padding: 0 $inputHPadding

    .item
      position: absolute !important
      font-size: 1em
      font-weight: 400
      color: $themeTextColor

.selectize-dropdown.single
  border-radius: 0 !important
  z-index: 1003

  .selectize-dropdown-content
    font-weight: 400 !important
    color: $themeTextColor !important
    font-size: 1rem !important
    line-height: 1rem !important

  .option.active
    background-color: $themeAccentColor !important
    color: $themeTextColorInverted !important

.selectize-control
  height: $themeElementHeight
