// element dimensions
$themeElementHeight = 2rem
$themeElementPadding = 20px

// colors
$themeAccentColor = #0091ea
$themeBGColor = #EEE
$themeTextColor = #000
$themeTextColorInverted = #FFF
$themeGoodColor = #17BEBB //#0091ea //#76ff03 //#75DBCD // #28AFB0
$themeErrorColor = #F22469

$themeBorderColor = $themeTextColor
$themeModalColor = rgba(0,0,0,0.8)

// inputs
$themeInputBorderWidth = 1px

// buttons
$themeButtonColor = $themeTextColorInverted
$themeButtonBorderColor = $themeTextColor
$themeButtonBGColor = $themeAccentColor

// timing
$themeTransitionTime = 500ms
