// element dimensions
$themeElementHeight = 2rem
$themeElementPadding = 1em
$themeBorderRadius   = 2px

// colors
$themeAccentColor = #2196F3
$themeAccentLightColor = #90CAF9
$themeBGColor = #FFF
$themeTextColor = #000
$themeTextColorInverted = #FFF
$themeGoodColor = #00BCD4 //#0091ea //#76ff03 //#75DBCD // #28AFB0
$themeErrorColor = #E91E63

$themeBorderColor = $themeTextColor
$themeDividerColor = #DDD
$themeModalColor = rgba(0,0,0,0.8)
$dropShadowColor = rgba(0,0,0,0.6)
$dropShadowHoverColor = rgba(0,0,0,0.4)

// inputs
$themeInputBorderWidth = 1px

// buttons
$themeButtonColor = $themeTextColorInverted
$themeButtonBorderColor = $themeTextColor
$themeButtonBGColor = $themeAccentColor

// timing
$themeTransitionTime = 500ms
