thankyou
  .thankyou-title
    margin-bottom: $themeElementPadding

  qrcode
    display: block
    text-align: center

  copy.input.input
    input
      border-radius: $themeBorderRadius
      border: $themeInputBorderWidth solid
      padding: 0 $themeElementPadding

    .copy-text
      right: $themeElementPadding

  .pay-with-metamask
    .pay-with-metamask-button
      content: url(//getshopjs.com/img/metamask.png) url(//getshopjs.com/img/metamask-hover.png)
      background-image: url(//getshopjs.com/img/metamask.png)
      height: 3rem
      background-size: contain
      background-repeat: no-repeat

      &:hover
        background-image: url(//getshopjs.com/img/metamask-hover.png)

