cart
checkout
checkout-card
checkout-modal
checkout-shippingaddress
deposit
login
orders
profile
register
reset-password
reset-password-complete
shippingaddress
thankyou
  box-sizing: border-box

  *
    box-sizing: border-box

  .input
    @import 'el-controls/src/css/theme-inputs-no-context'

  .checkbox
    @import 'el-controls/src/css/theme-checkboxes-no-context'

  @import 'ready'
  @import 'form'
  @import 'font'
  @import 'buttons'

  .disabled
  :disabled
    opacity: 0.5

@import 'el-controls/src/css/theme-top-level'
