input(id="{ input.name }",name="{ name || input.name }",type="checkbox",onchange="{ change }",onblur="{ change }",checked="{ input.ref.get(input.name) }",class="{invalid: errorMessage, valid: valid}")
#{ 'yield' }
