input(id="{ input.name }",name="{ name || input.name }",type="checkbox",onchange="{ change }",onblur="{ change }",__selected="{ input.ref(input.name) }",class="{invalid: errorMessage, valid: valid}")
#{ 'yield' }
