select(id='{ input.name }', style='{ style }', name='{ name || input.name }', onchange='{ change }', onblur='{ change }', value='{ input.ref(input.name) }', data-placeholder='{ placeholder }')
  option(if='{ placeholder }')
  option(each='{ value, name in options }', value='{value}')
    | {name}
#{ 'yield' }

