select(id='{ input.name }', style='display: none', name='{ name || input.name }', onchange='{ change }', onblur='{ change }', placeholder='{ placeholder }',class="{invalid: errorMessage, valid: valid}")
#{ 'yield' }

