select(id='{ input.name }', style='{ style }', name='{ input.name }', onchange='{ change }', onblur='{ change }', value='{ input.ref(input.name) }', data-placeholder='{ placeholder }')
  option(if='{ placeholder }')
  option(each='{ value, name in options() }', value='{value}', __selected='{ this.parent.input.ref(input.name) == value }')
    | {name}
  optgroup(if='{ tags && isCustom() }', label='Custom Events')
    option(value='{ input.ref(input.name) }', selected='true')
      | { input.ref(input.name) }
