select(id='{ input.name }', style='{ style }', name='{ name || input.name }', onchange='{ change }', onblur='{ change }', placeholder='{ placeholder }',class="{invalid: errorMessage, valid: valid}")
#{ 'yield' }

