input(if='{ input.ref(countryField) !== "us" }',id="{ input.name }",name="{ name || input.name }",type="text",onchange="{ change }",onblur="{ change }",riot-value="{ input.ref(input.name) }",placeholder="{ placeholder }",class="{invalid: errorMessage, valid: valid}")
select(if='{ input.ref(countryField) == "us" }',id='{ input.name }',name='{ name || input.name }', onchange='{ change }', onblur='{ change }', data-placeholder='{ placeholder }',class="{invalid: errorMessage, valid: valid}")
#{ 'yield' }

