textarea(id="{ input.name }",name="{ name || input.name }",rows="{ rows }",cols="{ cols }",type="text",onchange="{ change }",onblur="{ change }",placeholder="{ placeholder }",class="{invalid: errorMessage, valid: valid}")
  | { input.ref.get(input.name) }
#{ 'yield' }

