input(id="{ input.name }",name="{ name || input.name }",type="{ type }",onchange="{ change }",onblur="{ change }",value="{ input.ref(input.name) }",placeholder="{ placeholder }",autocomplete="{ autoComplete }")
#{ 'yield' }

