textarea(id="{ input.name }",name="{ name || input.name }",rows="{ rows }",cols="{ cols }",type="text",onchange="{ change }",onblur="{ change }",placeholder="{ placeholder }")
  | { input.ref(input.name) }
#{ 'yield' }

